
.DS_Store

Data/Panel.dta

*.csv

*.dta

*.docx

*.doc

*.log

*.pdf

*.txt

*.xlsx

*.xls

*.aux

*.bbl

*.blg

*.nav

*.out

*.snm

*.gz

*.toc

*.lyx

*.lyx~

Data/Paraguay/1991/Cleaning/cleaning.do

Data/Paraguay/1991/Cleaning/merge.do

Data/Paraguay/1991/Cleaning/temp/extracode.do

Data/Paraguay/1994/Cleaning/cleaning.do

Data/Paraguay/1994/Cleaning/merge.do

Data/Paraguay/1994/Cleaning/temp/extracode.do

Data/Paraguay/1999/Cleaning/cleaning.do

Data/Paraguay/1999/Cleaning/merge.do

Data/Paraguay/1999/Cleaning/temp/extracode.do

Data/Paraguay/2002/Cleaning/cleaning.do

Data/Paraguay/2002/Cleaning/merge.do

Data/Paraguay/2002/Cleaning/temp/extracode.do

Data/Paraguay/2007/Cleaning/Prices.do

Data/Paraguay/2007/Cleaning/cleaning.do

Data/Paraguay/Analysis(New).do

Data/Paraguay/Analysis.do

Data/Paraguay/Old Regressions/EricApendPanel.do

Data/Paraguay/Old Regressions/EricData1.do

Data/Paraguay/Panel.do

Data/Paraguay/Roodman_Exercise.do

EEA Conference/EEA_Presentation.tex

IDB Conference/Titling_Presentation.tex

Land and Poverty Conference/Gibrat_Presentation.tex

Land and Poverty Conference/Wealth_Biased_Property_Rights_Reform.tex

Code&Paper/dcmm.py

Code&Paper/Titling.tex

Code&Paper/Likelihood_Components(Paraguay).nb

Code&Paper/.svn/all-wcprops

Code&Paper/.svn/dir-prop-base

Code&Paper/.svn/dir-props

Code&Paper/.svn/entries

Code&Paper/.svn/text-base/Data_Prep(Land).do.svn-base

*.svn-base

Code&Paper/Data_Prep(Land).do

Code&Paper/Data_Prep.do

Literature/Paraguay/Paraguay_Notes

Code&Paper/Analysis(Old).do

Code&Paper/Analysis.do

Code&Paper/Old Stuff/Analysis(Old).do

Code&Paper/Old Stuff/dcmm.py

Code&Paper/Old Stuff/Titling.tex

Code&Paper/Old Stuff/Likelihood_Components(Paraguay).nb

Code&Paper/Old Stuff/Data_Prep.do

Code&Paper/Old Stuff/Data_Prep(Land).do
